html, body, div, * {
    margin: 0;
    padding: 0;
    background-color: #3b3b3b;
    color: #e2e2e2;
    font-family: 'Quicksand', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 300 !important;
}

#header {
    margin: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.container {
    margin: 10rem 0;
    text-align: center;
}

#game-output {
    font-family: 'Caveat Brush', cursive;
    font-size: 2rem;
    opacity: 100;
}

.appearing {
    opacity: 0 !important;
    transition: opacity 2s ease-in;
}

#footer {
    padding: 2rem;
}